html, body, .viewport {
  width: 100%;
  height: 100%;
  margin: 0;
}

#app {
  width: 100%;
}

div {
  display: flex;
  flex-wrap: wrap;
  

}

.doto{
  padding:10px;

}

.pixel > div {
  background-color: lightblue;
  width: 100px;
  height: 65px;
  line-height: 75px;
}